<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <title>¡Confirmación de Reserva CAR4ALL!</title>
</head>

<body style="font-family: 'Roboto'; background-color: #FFDAB9;"> <!-- Naranja pastel -->
<section style="
        background-color: white;
        max-width: 42rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
      ">
    <main style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 5rem;
        ">

        <img style="width: 12rem; height: 10rem" src="https://i.postimg.cc/L4kLCgY6/Car4All.jpg" alt="logo_car4all" />

        <h2 style="
            color: #1338BE;
            font-weight: 500;
            font-size: 1.875rem;
            line-height: 2.25rem;
          ">
            <center>¡Felicitaciones!</center>
            <br>
            ¡Tu Reserva en CAR4ALL ha sido confirmada!
        </h2>

        <div style="
            display: flex;
            flex-direction: column;
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
          ">
            <p style="
              font-size: 1rem;
              line-height: 1.5rem;
              color: black;
              margin: 0;
            ">
                ¡Gracias por confiar en nosotros!
                <br>
                ¡Esperamos que disfrutes de tus viajes con CAR4ALL!
                <br>
                <br>
                Gestiona tus reservas de manera simple y rápida ingresando a CAR4ALL con tus credenciales.
                <br>
                <br>
                <strong>El equipo de CAR4ALL</strong>
            </p>
        </div>

        <button style="
            border: none;
            border-radius: 0.25rem;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            background-color: #FF8000;
            color: black;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            margin-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          ">
            <a style="text-decoration: none; color: black" href="http://car4all.s3-website-us-east-1.amazonaws.com/login">Iniciar sesión</a>
        </button>
    </main>
</section>
</body>

</html>